* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1.875rem 0rem;
  max-width: 75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-hero-wraper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #FFFFFF;
}

.menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #545454;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.logo__subtitle {
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #292929;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
  line-height: 110%;
  padding-top: 0.625rem;
}

.logo__subtitle-our {
  width: 3.625rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  line-height: 160%;
}

.list__link:hover {
  color: #292929;
  cursor: pointer;
}

.list__link_disabled {
  color: #545454;
  border-bottom: solid 3px #ffffff00;
}

.list__link_active {
  border-bottom: solid 3px #F1CDB3;
}

.content-section__button {
  width: 207px;
  font-family: Georgia;
  font-size: 1.0625rem;
  letter-spacing: 0.055em;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  background: #F1CDB3;
  margin-top: 42px;
}

.content-section__button:hover {
  background: #FDDCC4;
  cursor: pointer;
}

h3 {
  font-family: Georgia;
  font-style: normal;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about p {
  margin-top: 1.5625rem;
  font-family: Arial;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #4C4C4C;
}

.about__paragraph {
  width: 23.125rem;
  margin-top: 5.875rem;
}

.our-friends {
  background: #F6F6F6;
}

.our-friends__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0rem 6.25rem 0rem;
}

.our-friends__paragraph {
  width: 25rem;
  text-align: center;
}

.our-friends__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.875rem 0rem 3.75rem 0rem;
}

.our-friends__cards--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2.5rem;
}

.our-friends__card:hover {
  cursor: pointer;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 0.125rem solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.25rem;
}

.our-friends__card--button:hover, .step:hover, .right:hover {
  cursor: pointer;
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends__card {
  width: 16.875rem;
  height: 27.1875rem;
  background: #FAFAFA;
  border-radius: 0.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.875rem;
  margin-top: 1.875rem;
}

.our-friends__cards--item:nth-child(4) {
  margin-right: 0rem;
}

.our-friends__card img {
  border-radius: 0.5625rem 0.5625rem 0rem 0rem;
  margin-bottom: 1.875rem;
}

.our-friends__card--text {
  font-family: Georgia;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1.875rem;
}

.our-friends__card--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11.6875rem;
  height: 3.25rem;
  padding: 0.9375rem;
  border: 0.125rem solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.25rem;
  font-family: Georgia;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #FAFAFA;
}

.rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.but-our-friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0rem;
  width: 21.25rem;
}

.l-left {
  border-color: #CDCDCD;
}

.step {
  background: #F1CDB3;
  border-color: #F1CDB3;
}

.right {
  background: none;
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  height: 21.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper h3 {
  color: #FFFFFF;
  margin-top: 1rem;
}

.footer__wrapper-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10rem;
}

.footer__wrapper-questions-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.35rem;
}

.footer__wrapper-questions-element h4 {
  color: #F1CDB3;
}

.footer__wrapper-questions-element img {
  margin-right: 1.25rem;
}

.footer-two {
  width: 18.875rem;
}

.footer-one {
  width: 17.375rem;
}

.footer-header {
  font-size: 2.18rem;
}

.visit {
  margin-top: 2.125rem;
}

.addres {
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

@media (max-width: 1279px) {
  .wrapper {
    padding: 1.875rem;
  }
  .our-friends__wrapper {
    padding: 5rem 5.875rem 4.75rem 5.875rem;
  }
  .our-friends__card:nth-child(7), .our-friends__card:nth-child(8) {
    display: none;
  }
  .our-friends__cards {
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  .footer__wrapper {
    height: 39.9375rem;
    padding: 0.9375rem 1.875rem 0rem 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__wrapper-questions {
    margin-right: 3.75rem;
  }
  .footer-two {
    margin-right: 0;
  }
  .footer-puppy {
    position: absolute;
    margin-top: 19.6875rem;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0.625rem;
  }
  .our-friends__card:nth-child(4), .our-friends__card:nth-child(5), .our-friends__card:nth-child(6) {
    display: none;
  }
  .our-friends__wrapper {
    padding: 2.625rem 1.5625rem;
  }
  h3 {
    font-size: 1.5625rem;
  }
  .our-friends__cards {
    margin-bottom: 2.625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-friends__card {
    margin-top: 2.625rem;
  }
  .but-our-friends, .our-friends__paragraph {
    width: 18.75rem;
  }
  .our-friends__card:nth-child(2), .our-friends__card:nth-child(3) {
    margin-top: 1.875rem;
  }
  .footer__wrapper {
    height: 50.5625rem;
    max-width: 18.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.875rem 0.625rem 0px 0.625rem;
    margin: 0 auto;
  }
  .footer__wrapper-questions {
    margin-right: 0rem;
  }
  .footer__wrapper h3 {
    max-width: 278px;
    margin-top: 0;
    text-align: center;
  }
  h3, .footer-header {
    font-size: 1.5625rem;
  }
  .footer__wrapper-questions-element {
    padding-left: 0.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-two {
    margin-top: 0.55rem;
  }
  .visit {
    margin-top: 2.5rem;
  }
  .visit, .addres {
    padding-left: 0;
  }
  .footer__wrapper-questions-element h4 {
    font-size: 1.25rem;
    line-height: 115%;
  }
  .footer-puppy {
    width: 16.25rem;
    position: inherit;
    margin-top: 0;
  }
  .burger {
    padding-right: 1.25rem;
  }
}
/*# sourceMappingURL=pets.css.map */